.cardHighlight {
  min-height: 100%;
  background-color: lightblue !important;
}

.aboutMe {
  min-height: 100%;
  background-image: url(https://wallpapercave.com/wp/wp5475487.jpg);
  text-decoration-color: white;
  background-repeat: no-repeat;
  background-size: ;
  border-radius: 20px;
  padding-bottom: 0;
}